.header{
    display: flex;
    max-height: 9vh;
    justify-content: space-around;
    background-color: cyan;
    border-bottom: 1px solid black;
    border-radius: 5px;
    padding:5px;
    top: 0;
}

a{
    text-decoration: none;
    font-size: large;
    font-style: normal;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.logo{
    color:rgb(13, 16, 170);
    font-style: normal;
    justify-content: center;
    min-width: 100px;
    padding-top:10px;
}

.navbar{
    display: flex;
    align-items: center;
    gap:20px;
    padding-top: 2vh;
    min-width: 200px;
}

.user-cred{
    display: flex;
    align-items: center;
    gap:20px;
    padding-top: 2vh;
    min-width: 50px;
}

.h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}