<div class="header">
    <div class="logo">
        <h2>TedtSite</h2>
    </div>
    <div class="navbar">
        <a [routerLink]="'Home'" [routerLinkActive]="'active'" class="home">Home</a>
        <a [routerLink]="'About'" [routerLinkActive]="'active'" class="about">About</a>
        <a routerLink="Contact" [routerLinkActive]="'active'" class="contact">Contact</a>      
        <a routerLink="Courses" [routerLinkActive]="'active'" class="courses">Courses</a>   
    </div>
    <div class="user-cred">
        <a href="#" class="login">Login</a>
        <a href="#" class="login">Logout</a>
    </div>
</div>
